<main role="main" class="container">
      <h1 class="mt-5">Abstract Parsing Application</h1>
      <p class="lead">Hello APR / Compass Agent! Please upload your file using the selector below. This software will parse through your file and extract the relevant data into a spreadsheet for you.</p>
      <p>Please email us with any questions, suggestions, or feedback.</p>

      <h3> Contact Information </h3>
      <ul> 
	<li> Email Address: cbradford@apr.com </li>
	<li> APR Help Desk: http://april.apr.com </li>
	<li> Phone: <a href="tel:800-466-9635">1-800-466-9635 </a>
      </ul>
    </main>
